<?xml version="1.0"?>
<config>
    <modules>
        <Canalweb_ProductSelector>
            <version>1.0.4</version>
        </Canalweb_ProductSelector>
    </modules>
    <global>
        <models>
            <productselector>
                <class>Canalweb_ProductSelector_Model</class>
            </productselector>
        </models>
        <helpers>
            <productselector>
                <class>Canalweb_ProductSelector_Helper</class>
            </productselector>
        </helpers>
        <resources>
            <productselector_setup>
                <setup>
                    <module>Canalweb_ProductSelector</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </productselector_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <productselector>
                <use>standard</use>
                <args>
                    <module>Canalweb_ProductSelector</module>
                    <frontName>productselector</frontName>
                </args>
            </productselector>
        </routers>
	   <translate>
			<modules>
				<Canalweb_ProductSelector>
					<files>
						<default>Canalweb_ProductSelector.csv</default>
					</files>
				</Canalweb_ProductSelector>
			</modules>
		</translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <productselector translate="title">
                                            <title>Product Selector</title>
                                        </productselector>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <productselector>
                        <type>singleton</type>
                        <class>productselector/observer</class>
                        <method>addFieldToAttributeEditForm</method>
                    </productselector>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
	   <translate>
			<modules>
				<Canalweb_ProductSelector>
					<files>
						<default>Canalweb_ProductSelector.csv</default>
					</files>
				</Canalweb_ProductSelector>
			</modules>
		</translate>
    </adminhtml>
    <default>
        <productselector>
            <main>
                <activation>1</activation>
                <title>Trouver une voiture d'occasion</title>
                <list_page>voitures-occasion</list_page>
                <attribute_set_id>10</attribute_set_id>
            </main>
        </productselector>
    </default>
</config>
